body {
  margin: 2;
  box-sizing: border-box;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.adicionar {
  font-size: 60%;
  position: relative;
  top: 20vh;
  margin-right: 5px;
  background-color: green;
  border-radius: 8%;
  color: white;
}

.remover {
  font-size: 60%;
  position: relative;
  top: 20vh;
  margin-left: 5px;
  background-color: red;
  border-radius: 8%;
  color: white;
}